@tailwind base;
@tailwind components;
@tailwind utilities; 


body {
  margin: 0;
  font-family: 'Mukta', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(228, 236, 235);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
background-color: rgb(228, 236, 235);
}

.theme-dark{
  color:#3d4a50;
}

.theme-green {
  color: #536a74;
}

.navBar{
  background-color: rgb(228, 236, 235);
}

/* -----------------------------------------------LANDING PAGE------------------------- */

.login-landing{
  background-color: #536a74;
  color: white;
  transition: all ease-in .15s;
  border: 2px solid #536a74;
}

.login-landing:hover {
  background-color: rgb(240, 246, 245);
  color: #536a74;
  border: 2px solid #536a74;
}

.sign-up-landing{
  outline: 2px solid #536a74;
  transition: all ease-in .15s;
}

.sign-up-landing:hover{
 background-color: #536a74;
 color: white;
}

/* -----------------------------------------------HOME LOGIN / SIGN UP PAGE------------------------- */

.title{
  text-align: center;
  margin-top: 100px;
}

.login-card{
  width: 380px;
  background-color: white;
  border-radius: 30px;
  transition: all ease-in .2s;
}

.login-card:hover{
  box-shadow: -9px 9px 1px #536a74;
}

.sub:hover{
  box-shadow: -4px 4px 1px #536a74;
}

.sub:active{
  box-shadow: -1px 1px 1px #536a74;
}

.sign-up{
  background-color: #536a74;
  color: white;
}

.sign-up:hover{
  background-color: #798888;
  box-shadow: -4px 4px 1px #4b5b5b;
  color: white;
}

/* --------------------------------------------------------DASHBOARD--------------------------------- */

.search-bar{
  background-color: #ffffff;
  font-size: 16px;
  border-radius: 12px;
  font-weight: 450;
  color: #424e4e;
  border: 2px solid #e7edeb;
  width: 250px;
  transition: all ease-in-out .35s;
  
}

.search-bar:focus{
  outline: none;
  border: 2px solid #f69400;
  background-color: #ffffff;
  width: 340px;
}

.locationHeader{
  margin-top: 100px;
} 

.signOut{
  color: white;
  background-color: #536a74;
  border-radius: 12px;
  transition: all ease-in-out .2s;
}

.signOut:hover{
  background-color: #f69400;
}
/* EVENT CARDS */

.event{
  background-color: #8da7b2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 20px;
  height: 160px;
}

.event:hover{
  transition: all ease-in-out .22s;
  background-color: #a8c7d4;
  box-shadow: -0 6px 1px #eca02e;
}

.event h3{
  color: #f1f7f9;
}
.event h2{
  color: #f1f7f9;
}
.event p{
  color: #f1f7f9;
}


.eventExpanded{
  background-color: #ffffff;
  padding-top: 50px;
  position: fixed;
  flex-direction: column;
  justify-content: center;
  border-radius: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
  height: 500px;
  width: 460px;
  z-index: 30;
}

.eventExpanded h2, h3, p{
  color: #3a4950;
}

.overlay{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(10, 10, 10, .7);
  z-index: 20;
}

.description-expanded {
  overflow:inherit;
}

.description {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  width: 98%;
  transition: all ease-in .8s;
}

.joinBtn{
  border-radius: 20px;
  transition: all ease-in .2s;
  color: white;
  background-color: #459861;
  color: white;
  border: 2px solid white;
}

.joinBtn:focus {
  outline: 1px solid black;
}

.joinBtn:hover{
  background-color: white;
  color: #459861;
  border: 2px solid #459861;
}

.leaveBtn{
  border-radius: 20px;
  transition: all ease-in .2s;
  color: white;
  background-color: #a46c27;
  color: white;
  border: 2px solid #a46c27;
}

.leaveBtn:focus {
  outline: 1px solid black;
}

.leaveBtn:hover{
  background-color: white;
  color: #a46c27;
}

/* JOIN AND JOINED BUTTONS */
.join-button{
  background-color: #738574;
  color: white;
  width: 11%;
  border-radius: 11px;
  transition: all ease-in .14s;
}

.join-button:hover{
  background-color: #96ab97;
  color: white;
  cursor: pointer;
  box-shadow: -3px 3px 1px #4b5b5b;
}

.joined {
  background-color: #a47928;
  color: white;
  width: 10%;
  border-radius: 11px;
  transition: all ease-in .14s;
}

.joined:hover {
  background-color: #654f33;
  color: white;
  cursor: pointer;
  box-shadow: 3px 3px 1px rgb(61, 60, 60);
}
/* JOIN AND JOINED BUTTONS */

.profile-button{
  margin-right: 0px;
  margin-left: auto;
  margin-top: 10px;
  background-color: #424e4e;
  color: white;
  border-radius: 10px;
}

.profile-button:hover{
  background-color: white;
  background-color: #6c7d7d;
  color: white;
}

.profile-button:active{
  box-shadow: 1px 1px 1px #4b5b5b;
}

.drop{
  transition: all ease-in .2s;
}

.drop:hover{
  color: rgb(122, 123, 123);
  scale: 105%;
  cursor: pointer;
}


/* --------------------------------------------------------PROFILE PAGE ----------------------------------------- */


.profile-active {
  transition: all ease-in .07s;
  border-left: 4px solid #ffc56f;
  color: black;
  background-color: #fbf4e7;
}

.profile-inactive{
  transition: all ease-in .07s;
  color: black;
}

.profile-inactive:hover {
  background-color: #fbf4e7;
}

.pastEvent{
  background-color: #ffffff;
  border-radius: 20px;
  transition: all ease-in .2s;
  margin-bottom: 10px;
  padding: 1px;
}

.attendeeListAdded{
  background-color: #ffc56f;
  color: #4b5b5b;
}

.attendeeList{
  background-color: #e7edeb;
  color: black;
}

/* --------------------------------------------------------MESSAGES PAGE ----------------------------------------- */


.message{
  width: fit-content;
  max-width: 50%;
  margin-top: 7px;
}

.sent{
  background-color: rgb(226, 235, 233);
  justify-content: flex-start;
  margin-right: 24px;
  margin-left: auto;
  box-shadow: 4px 4px 1px #dfc092;
}

.sent p {
  color: black;
}

.received{
  background-color: #f2e7d7;
  color: white;
  margin-left: 24px;
  margin-right: auto;
  box-shadow: -4px 4px 1px #dfc092;
}

.chat-messages-box{
  bottom: 0px;
  height: 600px;
  overflow: scroll;
  background-color: #ffffff;
  overflow-x: hidden;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.chats-box-active{
  transition: all ease-in .06s;
  background-color: #ffc56f;
}

.chats-box{
  transition: all ease-in .12s;
}

.chats-box p{
  color: #4b5b5b;
}

.chats-box:hover{
  background-color: #fdebd1;
}

.chats-box-container{
 background-color: #ffffff;
 border-top-left-radius: 8px;
 border-bottom-left-radius: 8px;
 z-index: 10;
 overflow: scroll;
 overflow-x: hidden;
 height: 600px;
}

.chat-input:focus {
  box-shadow: -6px 6px 1px #ffc56f;
  outline: none;
  border: 1px solid rgb(225, 221, 221);
}

.chat-input{
  border: 1px solid rgb(225, 221, 221);
  transition: all ease-in .12s;
}

.submit-message:hover{
  box-shadow: -5px 5px 1px #ffc56f;
}

.submit-message{
  border: 1px solid rgb(225, 221, 221);
}

/* --------------------------------------------------------WEBKIT----------------------------------------- */

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}