@tailwind base;
@tailwind components;
@tailwind utilities; 


body {
  margin: 0;
  font-family: 'Mukta', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* -----------------------------------------------LANDING PAGE------------------------- */
.sign-up-landing{
  background-color: #536a74;
  transition: all ease-in .15s;
  color: #fbfcfc;
}

.sign-up-landing:hover{
 background-color: #ffcd87;
 color: #405151;
}

/* -----------------------------------------------HOME LOGIN / SIGN UP PAGE------------------------- */


.login-card{
  width: 380px;
  border-radius: 30px;
  transition: all ease-in .2s;
}

.login-card:hover{
  box-shadow: -9px 9px 1px #404040;
}

.sign-up{
  background-color: #536a74;
  color: #fbfcfc;
}

.sign-up:hover{
  background-color: #3c4747;
  color: #fbfcfc;
}

/* --------------------------------------------------------DASHBOARD--------------------------------- */

.search-bar{
  font-size: 16px;
  border-radius: 10px;
  font-weight: 450;
  border: 2px solid #6b7280;
  width: 150px;
  transition: all ease-in-out .5s;
  
}

.search-bar:focus{
  outline: none;
  border: 2px solid #6b7280;
  width: 340px;
}

.signOut:hover{
  background-color: #486678;
}
/* EVENT CARDS */

.event{
  border-radius: 10px;
  height: 80px;
}

.event:hover{
  transition: all ease-in-out .22s;
  box-shadow: 0px 6px 1px #14b8a6;
  transform: translate(0px, -8px);
}

.bussiness-name-small{
text-overflow: ellipsis;
}

.miles-indicator{
  min-width: 22%;
  text-align: right;
}

.event-wrapper{
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
  height: 500px;
  width: 460px;
  z-index: 30;
}

.eventExpanded{
  padding-top: 50px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  position: fixed;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
  height: 500px;
  width: 460px;
  z-index: 20;
}

.overlay{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(10, 10, 10, .7);
  z-index: 20;
}

.joinBtn{
  border-radius: 10px;
  transition: all ease-in .1s;
  background-color: #459861;
  color: #fbfcfc;
  
}

.joinBtn:focus {
  outline: 1px solid black;
}

.joinBtn:hover{
  background-color: #418558;
}

.leaveBtn{
  border-radius: 10px;
  transition: all ease-in .1s;
  background-color:  #bc894a;
  color: #fbfcfc;
}

.leaveBtn:focus {
  outline: 1px solid black;
}

.leaveBtn:hover{
  background-color: #936022;
}

/* JOIN AND JOINED BUTTONS */
.join-button{
  background-color: #738574;
  color: #fbfcfc;
  width: 11%;
  border-radius: 11px;
  transition: all ease-in .14s;
}

.join-button:hover{
  background-color: #96ab97;
  color: #fbfcfc;
  cursor: pointer;
  box-shadow: -3px 3px 1px #4b5b5b;
}

.joined {
  background-color: #a47928;
  color: #fbfcfc;
  width: 10%;
  border-radius: 11px;
  transition: all ease-in .14s;
}

.joined:hover {
  background-color: #654f33;
  color: #fbfcfc;
  cursor: pointer;
  box-shadow: 3px 3px 1px rgb(61, 60, 60);
}
/* JOIN AND JOINED BUTTONS */

.profile-button{
  margin-right: 0px;
  margin-left: auto;
  margin-top: 10px;
  background-color: #424e4e;
  color: #fbfcfc;
  border-radius: 10px;
}

.profile-button:hover{
  background-color: white;
  background-color: #6c7d7d;
  color: #fbfcfc;
}

.profile-button:active{
  box-shadow: 1px 1px 1px #4b5b5b;
}

.drop{
  transition: all ease-in .2s;
}

.drop:hover{
  color: rgb(122, 123, 123);
  scale: 105%;
  cursor: pointer;
}


/* --------------------------------------------------------PROFILE PAGE ----------------------------------------- */

.pastEvent{
  border-radius: 10px;
  transition: all ease-in .2s;
  margin-bottom: 10px;
  padding: 1px;
}

/* --------------------------------------------------------MESSAGES PAGE ----------------------------------------- */


.message{
  width: fit-content;
  max-width: 50%;
  margin-top: 7px;
}

.sent{
  justify-content: flex-start;
  margin-right: 24px;
  margin-left: auto;
}

.sent p {
  color: black;
}

.received{
  margin-left: 24px;
  margin-right: auto;
}

.chat-messages-box{
  bottom: 0px;
  height: 600px;
  overflow: scroll;
  overflow-x: hidden;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.chats-box-active{
  transition: all ease-in .06s;
}

.chats-box{
  transition: all ease-in .12s;
}

.chats-box-container{
 border-top-left-radius: 8px;
 border-bottom-left-radius: 8px;
 z-index: 10;
 overflow: scroll;
 overflow-x: hidden;
 height: 600px;
}

.chat-input{
  transition: all ease-in .12s;
}

.chat-input:focus {
  outline: none;
}



/* --------------------------------------------------------WEBKIT----------------------------------------- */

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}