@tailwind base;
@tailwind components;
@tailwind utilities; 


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(246, 250, 248);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
background-color: rgb(246, 250, 248);
}

/* -----------------------------------------------HOME LOGIN / SIGN UP PAGE------------------------- */
.title{
  text-align: center;
  margin-top: 100px;
  color:#424e4e;
}

.login-card{
  width: 380px;
  background-color: white;
  border-radius: 30px;
  transition: all ease-in .2s;
}

.login-card:hover{
  box-shadow: -9px 9px 1px #4b5b5b;
}

.sub:hover{
  box-shadow: -4px 4px 1px #4b5b5b;
}

.sub:active{
  box-shadow: -1px 1px 1px #4b5b5b;
}

.sign-up{
  background-color: #424e4e;
  color: white;
}

.sign-up:hover{
  background-color: #798888;
  box-shadow: -4px 4px 1px #4b5b5b;
  color: white;
}

/* --------------------------------------------------------DASHBOARD--------------------------------- */

.search-bar{
  background-color: #e7edeb;
  font-size: 16px;
  border-radius: 30px;
  font-weight: 450;
  color: #424e4e;
  margin-top: 100px;
}

.search-bar:focus{
  outline: none;
  background-color: #e7edeb;
}

.theme-dark{
  color:#424e4e;
}

.theme-green {
  color: #4f5c5c;
}
.navBar{
  background-color: #ffffff;
}


.nav-bar-border{
  border-bottom: 1px solid rgb(212, 217, 213);
}

/* EVENT CARDS */

.event{
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 20px;
  border: 1px solid rgb(224, 226, 225);
}

.event:hover{
  box-shadow: 0px 8px 1px rgb(74, 81, 81);
  transform: translate(-0%, -6%);
  transition: all ease-in-out .3s;
  background-color: #e7efef;
  z-index: 0; 
}

.eventExpanded{
  background-color: #edf4f4;
  padding-top: 50px;
  position: fixed;
  display: inline-block;
  flex-direction: column;
  justify-content: center;
  border-radius: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -80%);
  box-shadow: 0px 8px 1px rgb(74, 81, 81);
  height: 500px;
  width: 500px;
  z-index: 30;
}

.overlay{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(10, 10, 10, .7);
  z-index: 20;
}


.pastEvent{
  border: 1px solid rgb(165, 167, 166);
  background-color: #ffffff;
  border-radius: 30px;
  transition: all ease-in .2s;
  margin-bottom: 10px;
  padding: 1px;
}

.description-expanded {
  overflow:inherit;
}

.description {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  width: 98%;
  transition: all ease-in .8s;
}

.expand-btn{
  border-radius: 20px;
  transition: all ease-in .2s;
  color: white;
  background-color: #6f7e7e;
}

.expand-btn:focus {
  outline: 1px solid black;
}

.expand-btn:hover{
  background-color: #2d3232;
  color: white;
}

/* JOIN AND JOINED BUTTONS */
.join-button{
  background-color: #738574;
  color: white;
  width: 11%;
  border-radius: 11px;
  transition: all ease-in .14s;
}

.join-button:hover{
  background-color: #96ab97;
  color: white;
  cursor: pointer;
  box-shadow: -3px 3px 1px #4b5b5b;
}

.joined {
  background-color: #a47928;
  color: white;
  width: 10%;
  border-radius: 11px;
  transition: all ease-in .14s;
}

.joined:hover {
  background-color: #654f33;
  color: white;
  cursor: pointer;
  box-shadow: 3px 3px 1px rgb(61, 60, 60);
}
/* JOIN AND JOINED BUTTONS */

.profile-button{
  margin-right: 0px;
  margin-left: auto;
  margin-top: 10px;
  background-color: #424e4e;
  color: white;
  border-radius: 10px;
}

.profile-button:hover{
  background-color: white;
  background-color: #6c7d7d;
  color: white;
}

.profile-button:active{
  box-shadow: 1px 1px 1px #4b5b5b;
}

.drop{
  transition: all ease-in .2s;
}

.drop:hover{
  color: rgb(122, 123, 123);
  scale: 105%;
  cursor: pointer;
}


/* --------------------------------------------------------PROFILE PAGE ----------------------------------------- */


.profile-active {
  color: #424e4e;
  transition: all ease-in .2s;
  box-shadow: -6px 6px 1px #4b5b5b;
  background-color: white;
}

.profile-inactive{
  transition: all ease-in .2s;
  color: white;
  background-color: #8e9894;
}

.profile-inactive:hover {
  background-color: #5e6966;
}

.attendee-list{
  background-color: rgb(238, 244, 239);
}

/* --------------------------------------------------------MESSAGES PAGE ----------------------------------------- */


.message{
  width: fit-content;
  max-width: 50%;
  margin-top: 7px;
}

.sent{
  background-color: rgb(226, 235, 233);
  justify-content: flex-start;
  margin-right: 24px;
  margin-left: auto;
  box-shadow: 4px 4px 1px #4b5b5b;
}

.sent p {
  color: black;
}

.received{
  background-color: #424e4e;
  color: white;
  margin-left: 24px;
  margin-right: auto;
  box-shadow: -4px 4px 1px #aeb7b7;
}

.chat-messages-box{
  bottom: 0px;
  height: 476px;
  overflow: scroll;
  background-color: #ffffff;
  overflow-x: hidden;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: -6px 6px 1px #4b5b5b;
  border: 1px solid rgb(224, 226, 225);
}

.chats-box-active{
  transition: all ease-in .06s;
  box-shadow: -5px 5px 1px #374040;
  background-color: #ffffff;
  border-radius: 8px;
  border: 1px solid white;
  color: #424e4e;
  width: 103%;
}

.chats-box{
  color: white;
  background-color: #424e4e;
  border-radius: 8px;
  transition: all ease-in .12s;
}

.chats-box:hover{
  background-color: #748585;
}

.chats-box-container{
 background-color: #bdcaca;
 box-shadow: -6px 6px 1px #4b5b5b;
 border-top-left-radius: 8px;
 border-bottom-left-radius: 8px;
 z-index: 10;
 overflow: scroll;
 overflow-x: hidden;
 height: 476px;
 border: 1px solid rgb(224, 226, 225);
}

.chat-input:focus {
  box-shadow: -6px 6px 1px #4b5b5b;
  outline: none;
  border: 1px solid rgb(225, 221, 221);
}

.chat-input{
  border: 1px solid rgb(225, 221, 221);
}

.submit-message:hover{
  box-shadow: -5px 5px 1px #424e4e
}

.submit-message{
  border: 1px solid rgb(225, 221, 221);
}

/* --------------------------------------------------------WEBKIT----------------------------------------- */

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}